:root {
	--dark-50: #fafafa;
	--dark-100: #f4f4f5;
	--dark-200: #e4e4e7;
	--dark-300: #d4d4d8;
	--dark-400: #a1a1aa;
	--dark-500: #71717a;
	--dark-600: #52525b;
	--dark-700: #3f3f46;
	--dark-800: #27272a;
	--dark-900: #18181b;
}
